<div class="col-md-6 user-container" >
  <h2 style="margin: auto">All Users Details for Admin</h2>
  <button class="btn btn-danger" style="width:100px" (click)="addUser()">Add User</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden">{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.address}}</td>
      <td>{{user.amount}}</td>
      <td><button class="btn btn-success" (click)="deleteUser(user)">Delete</button>
        <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;">Edit</button></td>
    </tr>
    </tbody>
    <tr>
    <td>
      <div>
      <button class="btn btn-danger" style="width:100px" (click)="logout()">Logout</button>
    </div>
    </td>
    </tr>
  </table>
</div>
