<div class="col-md-6 user-container">
  <h2 class="text-center">Registration</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-group">
      <label for="name">User name:</label>
      <input type="text" formControlName="name" placeholder="name" name="name" class="form-control" id="name"
             [ngClass]="{ 'is-invalid': submitted && getFormControls.name.errors }">
      <div class="invalid-feedback" *ngIf="getFormControls.name.errors" >
        <div *ngIf="getFormControls.name.errors.required">name is required</div>
        <div *ngIf="getFormControls.name.errors.minlength">name must be at least 2 characters</div>
      </div>
    </div>

    <div class="form-group">
      <label for="surname">User surname:</label>
      <input type="text" formControlName="surname" placeholder="surname" name="surname" class="form-control" id="surname"
             [ngClass]="{ 'is-invalid': submitted && getFormControls.surname.errors }">
      <div class="invalid-feedback" *ngIf="getFormControls.surname.errors" >
        <div *ngIf="getFormControls.surname.errors.required">surname is required</div>
        <div *ngIf="getFormControls.surname.errors.minlength">surname must be at least 2 characters</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">User email:</label>
      <input type="text" formControlName="email" placeholder="email" name="email" class="form-control" id="email"
             [ngClass]="{ 'is-invalid': submitted && getFormControls.email.errors }">
      <div class="invalid-feedback" *ngIf="getFormControls.email.errors" >
        <div *ngIf="getFormControls.email.errors.required">email is required</div>
        <div *ngIf="getFormControls.email.errors.minlength">email must be at least 6 characters</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" placeholder="password" name="password" class="form-control" id="password"
             [ngClass]="{ 'is-invalid': submitted && getFormControls.password.errors }">
      <div *ngIf="submitted && getFormControls.password.errors" class="invalid-feedback">
        <div *ngIf="getFormControls.password.errors.required">Password is required</div>
        <div *ngIf="getFormControls.password.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Phone:</label>
      <input formControlName="phone" placeholder="phone" name="phone" class="form-control" id="phone"
             [ngClass]="{ 'is-invalid': submitted && getFormControls.phone.errors }">
      <div class="invalid-feedback" *ngIf="submitted && getFormControls.phone.errors" >
        <div *ngIf="getFormControls.phone.errors.required">phone is required</div>
        <div *ngIf="getFormControls.phone.errors.minlength">phone must be 13 characters</div>
      </div>
    </div>

    <div class="form-group">
      <label for="address">Address:</label>
      <input formControlName="address" placeholder="address" name="address" class="form-control" id="address"
             [ngClass]="{ 'is-invalid': submitted && getFormControls.address.errors }">
      <div class="invalid-feedback" *ngIf="submitted && getFormControls.address.errors" >
        <div *ngIf="getFormControls.address.errors.required">address name is required</div>
        <div *ngIf="getFormControls.address.errors.minlength">address name must be at least 2 characters</div>
      </div>
    </div>

    <button class="btn btn-success">Register</button>
  </form>
</div>
