<h2 align="center">
  <br> This is a simple Spring Boot + Angular application!
</h2>
    <div class="row">

      <div class="col-md-6 login-container">
        <h2 style="margin: auto">Login to Application</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">UserName:</label>
            <input type="text" class="form-control" formControlName="name" id="name" autocomplete="off">
            <div class="error"
                 *ngIf="loginForm.controls['name'].hasError('required') && loginForm.controls['name'].touched">
              Username is required
            </div>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" formControlName="password" id="pwd" autocomplete="off">
            <div class="error"
                 *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
              Password is required
            </div>
          </div>
          <button class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
          <div *ngIf="invalidLogin" class="error">
            <div>Invalid credentials.</div>
          </div>
          <p>
          <p>Don't have an account?</p>
          <a href="add-user" class="btn btn-success">Sign Up</a>
        </form>

      </div>
    </div>
